*
{
    font-family: 'Red Rose', cursive;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1150px;
    margin: 0 auto;
}

header
{
    width: 100%;
    height: 455px;

    text-align: right;

    background-image: url('../img/header.png');
}

header > h1
{
    font-size: 64px;

    margin-top: 100px;

    color: #6A8DFDFF;
    font-weight: bold;
}

header > h2
{
    font-size: 18px;

    color: #333f89;
}

nav.pages
{
    width: 100%;
    margin-top: 20px;
    padding-left: 200px;

    background: #c8d9fd;
}

nav.pages > a
{
    font-size: 24px;
    font-weight: bold;
    line-height: 75px;

    display: inline-block;

    height: 70px;
    margin: 0 30px;

    transition: transform 1s;
    vertical-align: top;
    text-decoration: none;

    opacity: .5;
    color: #333f89;
}

nav.pages > a:nth-child(3)
{
    width: 58px;
    height: 58px;
    margin-top: 7px;

    background: url(../img/logo_nav.png);
}

nav.pages > a:hover
{
    transform: scale(1.2);

    opacity: 1;
    color: #333f89;
}

footer
{
    width: 100%;
    height: 100px;
    padding: 30px 100px;
    background: #c8d9fd;
    position: relative;
}

.footer-socials{
    float: left;
}

.socials-link
{
    margin-left: 22px;
    text-decoration: none;
}

.socials-img{

}


.footer-center-section{
    display: inline-block;
    width: 280px;
    margin: -10px 40px 0px 150px;
}

.footer-logo__link{

}

.footer-logo{
    float: left;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.footer-center-section > span {
    display: inline-block;
    line-height: 0.8;
    margin-top: 15px;
}

.footer-title{
   font-size: 34px;
   color: #3B71E8FF;
   font-weight: bold;
}

.footer-subtitle{
    font-size: 14px;
    color: #333f89;
    top: 15px;
}


.footer-nav{
    display: inline-block;
    width: 220px;
    line-height: 1.5;
    padding-right: 0px;
    position: absolute;
    right: 70px;
    bottom: 15px;
}

.footer_link {
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    float: left;
    text-align: justify;
    width: 50%;
    opacity: 0.5;
    color: #3B71E8;
}

.is-active {
    opacity: 1;
    color: #3B71E8;
}


